<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Don't mind our mess, site is under construction as we migrate web servers!</h3>
                    <div class="container">
                      <img
                      src="img/under-construction.gif"
                      class="img-responsive img-centered"
                      >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/logos/SFF-1word_1615828121.png" alt="Starfighter Farm Logo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Who : </h4>
                                    <h4 class="subheading">We Are Starfighter Farm</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Starfighter Farm strives to provide high-quality farm-fresh produce full of flavor to our community.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/logos/rebel.png" alt="Rebel Against Bland">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>What : </h4>
                                    <h4 class="subheading"><p>We believe our microgreens are a cut above the rest in quality and flavor.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At Starfighter Farm we don't expect you to know it all. Check out our blog posts to get started with the basics of what microgreens are and how you can use/eat them!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ballardbombers.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Where : </h4>
                                    <h4 class="subheading">Ballard Area / Central Iowa Corridor</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Transition to apprentice in Level 2 courses where you might have to look up a keyword or two.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>How : </h4>
                                    <h4 class="subheading">State-Of-The-Art</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">These Legendary Courses expect advanced expert knowledge to keep up but don't be shy to listen in. The Legendary Courses take you to the next level and give you Super Powers to become the true Hero we know you can become!</p>
                                </div>
                            </div>
                        </li>

                        <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>When : </h4>
                                <h4 class="subheading">Weekly or Bi-Weekly</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Transition to apprentice in Level 2 courses where you might have to look up a keyword or two.</p>
                            </div>
                        </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Become
                                    <br>A
                                    <br>Hero!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
