<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Popular Products</h2>
                    <h3 class="section-subheading text-muted">All products are grown to order and delivered bi-weekly (every 2 weeks) to homes, workplaces, juice bars, health food stores, restaurants, yoga studios, and fitness centers.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">

                      <img
                      src="img/products/radish.jpg"
                      class="img-responsive img-centered"
                      style="height:200px;"
                      alt="Radish Microgreens">

                    <h4 class="service-heading">Radish Microgreens</h4>
                    <p class="text-muted">Starfighter Farm Radish Microgreens provide spice and heat to your meals! They can add heat without burning your insides later in the day like pepper oils would. Radish Microgreens can be eaten as a snack or to enhance numerous dishes from salads, omelets, cheeseburgers, and tacos to name a few.
</p>
                </div>
                <div class="col-md-4">

                      <img
                      src="img/products/saladmix.jpg"
                      class="img-responsive img-centered"
                      style="height:200px;"
                      alt="Microgreen Salad Mix">

                    <h4 class="service-heading">Microgreen Salad Mix</h4>
                    <p class="text-muted">Starfighter Farm Salad Mix - This blend of boldly flavored and colorful combination of microgreens that grow well together contains: Broccoli, Kale, Kohlrabi, Arugula, Red Cabbage & Southern Giant Mustard for an extra kick.
</p>
                </div>
                <div class="col-md-4">

                      <img
                      src="img/products/pea.jpg"
                      class="img-responsive img-centered"
                      style="height:200px;"
                      alt="Pea Shoots">

                    <h4 class="service-heading">Pea Shoots</h4>
                    <p class="text-muted">Starfighter Farm Pea Shoots are fresh, crunchy, and have a delicious slightly sweet fresh flavor, just like the tastes of summer at Grandma's house.</p>
                </div>
            </div>
        </div>
    </section>
