<!-- Services Section -->
    <section id="services" class="bg-darkest-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- <h2 class="section-heading">Service Area</h2> -->
                    <h4>Proudly serving the Greater Ballard Community and Central Iowa Corridor.</h4>
                    <h3 class="section-subheading text-muted">
                      <p> Starfighter Farm
                      <p>PO Box 486
                      <p>Slater,IA 50244
                      <p><a href="mailto:info@starfighterfarm.com">email: info@starfighterfarm.com</a>
                      <div class= "text-center ">
                        <a href="tel:5152164304" class="page-scroll btn btn-xl corners"><div>call us: (515)-216-4304</div></a>
                      </div>
                        <h4>All products are grown to order with subscriptions delivered either weekly or bi-weekly (every 2 weeks)
                          <p>to homes, workplaces, juice bars, health food stores, restaurants, yoga studios, and fitness centers.
                          <p>
                          Payments can be made via cash, check, or creditcard via Square.
                        <p>
                          <h3 class="section-subheading text-muted">
                              We request subscribers to keep a card on file for seemless contact-free delivery.
                              <a href="https://squareup.com/us/en">
                                <img src="img/square.png" class="img-responsive img-centered" alt="">
                              </a>
                          </h3>
                        </h4>
                    </h3>
                </div>
            </div>
        </div>
    </section>
